<!-- Parallax Fullscreen -->
<div id="top-slider" class="parallax-bg10 parallax">
  <div class="overlay"></div>
  <header id="header" class="header header-sticky">
    <div class="header-wrap">
      <div class="container wrapper">
        <div class="row">

          <div class="span2">
            <span>
              <img class="logoEsp" src="images/logo2.png" alt="Logo" id="logoEsp"/>
            </span>
            <div id="logo" class="logo">
              <a href="index.html" rel="home">
                <img src="images/logo.png" alt="Logo" />
              </a>
            </div><!-- /.logo -->
          </div>
          <div class="span10">
            <div class="btn-menu"></div><!-- /mobile menu button -->
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <% if user_signed_in? %>
                <span class="logUser">Logged in as <strong><%= current_user.email %></strong>.</span>
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                <% else %>
                <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
                <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
                <% end %>
              </ul><!-- /.menu -->
            </nav><!-- /nav -->
          </div>
        </div>
      </div><!-- /.container -->
    </div><!-- /.header-wrap -->
  </header><!-- /header -->
<div class="content">
<p id="notice"><%= notice %></p>

<h1>Listing Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Detail</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.subject %></td>
        <td><%= ticket.detail %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.user_id %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
</div>
